.modal-window {
    position: fixed;
    top: 35%;
    left: 35%;
    height: 200px;
    width: 500px;
    z-index: 9999;
    border: 1px solid lightgray;
    border-collapse: collapse;
    background-color: white;
  }
  
  .modal-window__title {
    position: relative;
    padding: 15px;
    height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
    border-bottom: 1px solid lightgray;
  }
  
  .modal-window__closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    height: 30px;
    width: 30px;
    text-decoration: none;
  }
  
  .modal-window__closeBtn:hover::before {
    color: gray;
  }
  
  .modal-window__closeBtn::before {
    content: '\E805';
    display: block;
    height: 30px;
    width: 30px;
    font-family: "Fontello";
    font-size: 25px;
    text-align: center;
    color: lightgray;
  }
  
  .modal-window__content {
    padding: 20px;
    height: calc(100% - 90px);
    color: gray;
  }
  
  .modal-window__cancelBtn {
    position: absolute;
    bottom: 15px;
    right: 160px;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: gray;
    border: 1px solid lightgray;
  }
  
  .modal-window__cancelBtn:hover {
    background-color: lightgray;
    color: white;
  }
  
  .modal-window__deleteBtn {
    position: absolute;
    bottom: 15px;
    right: 10px;
    padding: 10px;
    display: block;
    width: 120px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;
    border: 1px solid lightgray;
    background-color: #a2c546;
  }
  
  .modal-window__deleteBtn:hover {
    background-color: darkgreen;
  }
  